
<div class="jumbotron">
  <h1 class="display-4">
    <%= @drawing.title %>
  </h1>
  <p class="lead">
    <%= @drawing.description %>
  </p>
  <br/>

  <%= link_to 'Edit', edit_drawing_path(@drawing), class:"btn btn-secondary" %>

<%= link_to 'Delete', @drawing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   
<%= link_to 'Back', drawings_path, class:"btn btn-dark" %>

</div>

<div class="canvas-container">
  <div class="controls">
    <p>
      <button id="add" class="btn btn-primary">Add Rectangle</button>
      <%
=begin%>
 <button id="save" class="btn btn-success">Save Drawing</button> 
<%
=end%>
    </p>
  </div>
  <div class="canvas-wrapper">
    <canvas id="canvas" width=1000 height=500></canvas>    
  </div>
</div>


